# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=url_shortener
DB_USER=postgres
DB_PASSWORD=your_db_password

# Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
FROM_EMAIL=[URl@mail.com]
TO_EMAIL=[email protected]
EMAIL_USERNAME=[email protected]
EMAIL_PASSWORD=zjeb ghib yssw nsxq
